<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <p>I'm Le Tuan Kiet</p>
    <img src="https://theme.hstatic.net/1000306633/1000891824/14/logo_menu_no_scroll.png?v=578" alt="">
</body>
</html>